<ul>
  {% capture dynamic_course_order %}{{ page.course }}{% endcapture %}

  {% assign current_course_id = page.course | append: "" %}

  {% assign local_posts = site.posts | slice: 0, site.posts.size %}

  {% assign current_course = local_posts | where_exp: "item", "item.course contains current_course_id" | sort: dynamic_course_order %}

    {% for post in current_course %}
    <h3>Lesson Number: W{{ post[dynamic_course_order] }}</h3>
        <ul>
          <li>
            <a href="{{ post.url }}">HillJ.net: {{ post.title }}</a>
          </li>
        {% if post.youtube_id %}
          {% assign youtube_url = "https://youtu.be/" | append: post.youtube_id %}
          <li>
            <a href="{{ youtube_url }}" target="_blank" rel="noreferrer noopener">YouTube: {{ post.title }}</a>
          </li>
        {% endif %}
        </ul>
          <br>
    {% endfor %}
</ul>
