body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Georgia', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    margin: auto;
}
nav ul {
    width: 100%;
    max-width: 1000px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 30px;
    margin-right: 5px;
}
a {
    text-decoration: none;
    color: #765885;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Georgia', 'Arial', 'Sans-Serif';
}
ul.sw {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style-type: none;
}
img {
    width: 80%;
    object-fit: contain;
    margin: auto;
}
div.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}
div.blurb p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}
div.navbar {
    white-space: nowrap;
}
div.text {
    font-size: 1em;
}
div.ul {
    width: 80%;
    margin: auto;
}
div.hero-image img {
    width: 100%;
    object-fit: contain;
    margin-top: 3%;
}
