body {
    margin: 60px auto;
    width: 82.5%;
}
nav ol, footer ol {
    font-family: 'Georgia', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    font-weight: lighter;
    margin: auto;
    max-width: 1000px;
    padding-bottom: 50px;
}
footer ol {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
    margin: 60px auto;
}
nav ol li:first-child, footer ol li:last-child {
    float: left;
    border-style: solid;
    border-width: thin;
    display: inline;
    border-color: #765885;
}
nav ol li, footer ol li {
    float: right;
    display: inline;
    padding: 15px;
    }
a {
    text-decoration: none;
    color: #765885;
}
a:hover {
    text-decoration: underline;
}
h1, h2 {
    font-family: 'Georgia', 'Helvetica', 'Arial', 'Sans-Serif';
}
ol li, ul li {
    font-size: 1.1em;
    line-height: 1.15em;
    margin-left: none;
    padding-left: none;
}
ul li ul li, ol li ol li {
    font-size: inherit;
    line-height: inherit;
}
ul.sw {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 0.9em;
}
ol li {
    list-style-type: none;
}
img {
    width: 100%;
    object-fit: contain;
    margin: auto;
}
div.blurb p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}
div.container {
    max-width: 1000px;
    margin: auto;
    align-items: center;
}
div.hero-image img {
    margin-top: 2%;
}
div.instagram {
    max-width: 1000px;
    margin: auto;
    align-items: center;
    align: center;
}
div.nav {
    white-space: nowrap;
}
div.visual-art img {
    object-fit: contain;
}
div.visual-art p {
    text-align: center;
    line-height: 1.15em;
}
