---
---

{{ reference }}
  {% if entry.key %}
      <br>
      <ul>
        <br>
        <li><a href="{{ site.url }}{{ site.scholar.repository }}{{ entry.key | relative_url }}.pdf" target="_blank" rel="noreferrer noopener">{{ entry.title }}_ HillJ_ Teacher Exemplar Annotations</a>.</li>
        {% if entry.url %}
        <br>
        <li><a href="{{ entry.url }}" target="_blank" rel="noreferrer noopener">{{ entry.title }}_ Source_ {{ entry.url }}</a>.</li>
        {% endif %}
      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>

  {% endif %}
