<!DOCTYPE html>
	<html>
		<head>
			<title>Justin Hill | {{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<nav>
				<div class="nav">
					<ul>
						<li><a href="/">Justin Hill | Home</a></li>
						<li><a href="/visual-art">Visual Art</a></li>
						<li><a href="/publications">Publications</a></li>
						<li><a href="/communications">Communications</a></li>
					</ul>
				</div><!-- /.nav -->
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    	<ul>
					<li><a href="/assets/pdfs/HillJ-CV-2023.pdf" target="_blank" rel="noreferrer noopener">Curriculum Vitae</a></li>
					<li><a href="/assets/pdfs/HillJ-Resume-2023.pdf" target="_blank" rel="noreferrer noopener">Resume</a></li>
					<li><a href="https://www.Instagram.com/HolyTerrainArt/" target="_blank" rel="noreferrer noopener">Instagram</a></li>
					<li><a href="https://www.LinkedIn.com/in/HillJustinA" target="_blank" rel="noreferrer noopener">LinkedIn</a></li>
					<li><a href="mailto:Hill.Justin.Andrew@gmail.com">Hill.Justin.Andrew@gmail.com</a></li>
					</ul>
			</footer>
		</body>
	</html>
