---
layout: default
---

<!-- {% comment %}
    Loops though every collection you defined in _config.yml and grabs the pages they contain; outputting titles.
{%  endcomment %} -->

{% for collection in site.collections %}

  {% assign name = collection.label %}

    <div class="blurb">
      <h1>{{ site.podcast.title }}: A Podcast</h1>
      <h4><em>{{ site.podcast.subtitle }}</em></h4>
      <p>Episodes of <em>Holy Terrain Art</em> are also available on <a href="https://podcasts.apple.com/us/podcast/holy-terrain-art/id1841546111" target="_blank" rel="noreferrer noopener">Apple Podcasts</a> and <a href="https://open.spotify.com/show/6DVqh1VNayxnUWucSoIG9h" target="_blank" rel="noreferrer noopener">Spotify Podcasts</a>. </p>
    </div>

    {% for post in site.posts %}

    <div>
      <ul>
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      </ul>
    </div>
    {% endfor %}

{% endfor %}
